.text-white{
  color: #fff;
}

.section.is-info.is-bold {
  background-image: -webkit-linear-gradient(309deg,#1577c6 0,#3273dc 71%,#4366e5 100%);
  background-image: linear-gradient(141deg,#1577c6 0,#3273dc 71%,#4366e5 100%);
}

.login-title {
  padding-bottom: 60px;
}

.label {
  font-weight: 500;
}